﻿@model int
@{
    ViewBag.Title = "Analytics";
}
@section Styles {
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
}
<div id="app" class="analytics">
    <div class="side-bar-holder sidebar-padding">
        @Html.Partial("_Partials/SidebarAnalytics")
    </div>
    <div class="inner-content">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-result-tab" data-toggle="tab" href="#nav-result" role="tab" aria-controls="nav-home" aria-selected="true">Показания</a>
                <a class="nav-item nav-link" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-profile" aria-selected="false">Данные</a>
            </div>
        </nav>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="nav-result" role="tabpanel" aria-labelledby="nav-result-tab">
                <h1>{{result}}</h1>
            </div>
            <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
                <table class="table" id="current-sensor-readings">
                    <thead>
                        <tr>
                            <th scope="col">CO2</th>
                            <th scope="col">LPG</th>
                            <th scope="col">CO</th>
                            <th scope="col">CH4</th>
                            <th scope="col">Пыль</th>
                            <th scope="col">Т-ра</th>
                            <th scope="col">Hum</th>
                            <th scope="col">Давление</th>
                            <th scope="col">Снято</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in readings.data">
                            <td>{{item.cO2}}</td>
                            <td>{{item.lpg}}</td>
                            <td>{{item.co}}</td>
                            <td>{{item.cH4}}</td>
                            <td>{{item.dust}}</td>
                            <td>{{item.temp}}</td>
                            <td>{{item.hum}}</td>
                            <td>{{item.preassure}}</td>
                            <td>{{item.created | toTime}}</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-default" @@click="getData">Загрузить {{readings.data.length != 0 ? "еще":"" }}</button>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        window.settings = {};
        window.settings.sensorId = @Model;
    </script>
    <script src="~/Scripts/moment.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <!--Ссылка на библиотеку SignalR -->
    <script src="~/Scripts/front/vue-filters.js"></script>
    <script src="~/Scripts/front/analytics.js"></script>
}